@tailwind base;
@tailwind components;
@tailwind utilities;
.input-style {
  border: 2px solid #e2e8f0;
  border-radius: 0.375rem;
  padding: 0.75rem;
  width: 100%;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.notification-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  z-index: 9999;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.75;
  }
}

.heartbeat {
  animation: heartbeat 1s infinite;
}

.input-style:focus {
  outline: none;
  border-color: #667eea;
}
.form-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}

.form-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.form-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.form-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.button-style {
  background-color: #667eea;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button-style:hover {
  background-color: #5a67d8;
}

.button-style:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.5);
}

.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1000ms, transform 1000ms;
}
.nav-border {
  border: 2px solid;
  animation: border-animation 3s infinite;
}
@keyframes like {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-like {
  animation: like 0.3s ease-in-out;
}
@keyframes border-animation {
  0% {
    border-color: rgb(164, 136, 136);
  }
  25% {
    border-color: rgb(90, 76, 76);
  }
  50% {
    border-color: rgb(167, 148, 148);
  }
  75% {
    border-color: rgb(102, 88, 88);
  }
  100% {
    border-color: rgb(133, 119, 119);
  }
}

